<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산업별 경제 사이클</title>
    <link rel="stylesheet" href="/static/css/cycle.css">
</head>
<body>
    <a href="category.html">
        <img class="back" src="/static/img/backbutton.png"
        style="width: 90px; height: 40px;" />

    </a>
    <hr>

    <!-- 데이터 받아옴 -->
    <ul>
        {% for item in data %}
            <li>{{ item.industry_name }} ({{ item.year }}): {{ item.cycle_category }}</li>
        {% endfor %}
    </ul>

</body>
</html>